[submodule "external/libsamplerate"]
	path = external/libsamplerate
	url = https://github.com/libsndfile/libsamplerate
[submodule "external/pybind11"]
	path = external/pybind11
	url = git@github.com:pybind/pybind11.git
